<!-- <ul>
  <li><a [routerLink]="['/about']">About</a></li>
  <li><a [routerLink]="['/main']">Main</a></li>
  <li><a [routerLink]="['/projects']">My projects</a></li>
</ul> -->

<!-- <div style="margin: 20px">
  <button mat-raised-button [matMenuTriggerFor]="menu">Меню</button>
  <button mat-stroked-button appBackButton>Вернуться назад</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item><a [routerLink]="['/main']">Main</a></button>
    <mat-divider></mat-divider>
    <button mat-menu-item><a [routerLink]="['/about']">About</a></button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
      <a [routerLink]="['/projects']">My projects</a>
    </button>
  </mat-menu>
</div>
<hr /> -->
<div style="margin: 20px">
  <button mat-raised-button [matMenuTriggerFor]="menu">Меню</button>
  <mat-menu #menu="matMenu">
    <a [routerLink]="['/main']"><button mat-menu-item>Главная</button></a>
    <a [routerLink]="['/about']"><button mat-menu-item>Обо мне</button></a>
    <a [routerLink]="['/projects']"
      ><button mat-menu-item [matMenuTriggerFor]="myProjects">
        Мои проекты
      </button></a
    >
  </mat-menu>

  <mat-menu #myProjects="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="fish">Проект 1</button>
    <button mat-menu-item>Проект 2</button>
    <a [routerLink]="['/main']"
      ><button mat-menu-item [matMenuTriggerFor]="reptiles">Проект 3</button
    ></a>
    <a [routerLink]="['/main']"><button mat-menu-item>Проект 4</button></a>
  </mat-menu>

  <mat-menu #fish="matMenu">
    <button mat-menu-item>Baikal oilfish</button>
    <button mat-menu-item>Bala shark</button>
    <button mat-menu-item>Ballan wrasse</button>
    <button mat-menu-item>Bamboo shark</button>
    <button mat-menu-item>Banded killifish</button>
  </mat-menu>

  <mat-menu #reptiles="matMenu">
    <button mat-menu-item>Banded Day Gecko</button>
    <button mat-menu-item>Banded Gila Monster</button>
    <button mat-menu-item>Black Tree Monitor</button>
    <button mat-menu-item>Blue Spiny Lizard</button>
    <button mat-menu-item disabled>Velociraptor</button>
  </mat-menu>
</div>
<hr />
<router-outlet></router-outlet>
