<h1>Главная страница</h1>

<h2>Отзыв о курсе и преподавателе</h2>
<p>Для меня курс по Angular был очень полезен!</p>
<p>
  Однозначно не разобрался бы самостоятельно с нуля в этой теме. Во-первых,
  отлично подобранный учебный материал и множество полезных ссылок. Во-вторых,
  прекрасная подача материала преподавателем. Станислав доходчиво и терпеливо
  объяснял темы и старался добиться от нас понимания пройденного материала
  курса. Было интересно всё! Другое дело, что многие темы оказались довольно
  сложными и чтобы их усвоить, приходилось по несколько раз читать,
  пересматривать записи занятий и практиковаться. Задания были как простые, так
  и довольно сложные - курс прошел на одном дыхании. Также для самостоятельной
  работы были предложены задание повышенной сложности - "со звездочкой".
</p>
<p>
  Думаю будет лучше, если в дальнейшем, для будующих потоков, будет какое-то
  входное тестирование, благодаря которому, желающие попасть на курс смогут
  понять, какие необходимые знания у них на низком уровне и которые нужно
  подтянуть.
</p>

<p>
  В завершение хочу сказать, что курс дал мне понимание того, как работает
  Angular, как проиходит разработка при помощи этого фреймворка, а также хороший
  фундамент для дальнейшего развития. Меня еще больше заинтереовала тема
  фронтенд разработки в целом, и разработки на Angular в частности. Станислав,
  большое спасибо за хорошую подачу материала!
</p>
